.collections-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: $padding-m;
    padding-bottom: $padding-m;
    flex-direction: column;
    background-color: rgb(120, 116, 207);

    .collection-card{
        justify-self: center;
        display: flex;
        flex-direction: column;
        text-align: center;

        #collection-photo-1{
            margin-bottom: 20px;
            width: 20rem;
            height: 30rem;
            object-fit: cover;
            align-self: center;
        }

    }
    .btn{
        cursor:pointer;
    }
}