.hero-wrapper{
    height: 80vh;
    display: flex;
    padding-top: $padding-m;
    padding-bottom: $padding-m;
    p,h1{
        color: white;   
    }
    background-image: url("../imgs/laptop.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-blend-mode:hard-light;

    .hero-content{
        align-self: center;
        margin-left: auto;
        h1{
            margin: auto;
            text-align: center;
            margin-bottom: 40px;
            @media screen and (min-width: $breakpoint-l) {
                margin-inline: 20%;
                font-size: $heading-m;
            }
            @media screen and (min-width: $breakpoint-s) {
                margin-inline: 20%;
                font-size: $heading-s;
            }
            @media screen and (min-width: $breakpoint-xs) {
                font-size: $heading-s;
            }
        }
        p{
            @media screen and (min-width: $breakpoint-xs) {
                margin-inline: 30px;
            }
            @media screen and (min-width: $breakpoint-s) {
                margin-inline: 50px;
            }
            @media screen and (min-width: $breakpoint-m) {
                margin-inline: 80px;
            }
        }
        @media screen and (min-width: $breakpoint-xs) {
            width: 100%
             
        }
        @media screen and (min-width: $breakpoint-xs) {
            width: 100%
             
        }
        @media screen and (min-width: $breakpoint-m) {
            width:50%
        }


    }
}