.social-wrapper{
    display: flex;
    flex-direction: row;
    padding-top: $padding-m;
    padding-bottom: $padding-m;
    background-color: rgb(72, 149, 239);
    align-content: center;
    justify-content: space-evenly;
    .divide{
        display: flex;
        flex-direction: column;
    }
    @media screen and (max-width: $breakpoint-twitter) {
        flex-direction: column;
    }
    h2{
        text-align: center;
    }

    .icons-wrapper{
        display: flex;
        justify-content: center;
        margin: $padding-xs;
    
        a{
            margin-inline: 1.5rem;
            transition: all .2s ease-in-out;
            &:hover {
                transform: scale(1.1); 
            }
        }
    }
}