// style.scss
@import 'variables.scss';
@import 'about.scss';
@import 'collections.scss';
@import 'footer.scss';
@import 'hero.scss';
@import 'nav.scss';
@import 'social.scss';
@import 'crypto-list.scss';

html {
    scroll-behavior: smooth;
}
h1{
    font-size: $heading-l;
}
p{  
   font-size: $paragraph-m;
   margin-top: 0;
   margin-inline: 1.5rem;
}
body{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}
h2{
    font-size: $heading-m
}
h3{
    font-size: $heading-s;
}
ul {
    display: flex;
    list-style-type: none;
    margin: 1.2rem;
    padding: 0;
}
li {
    margin: 0 1rem ;
    display: flex;
    align-self: center;
    justify-content: flex-end;
}
a{
    text-decoration: none;
    font-size:$paragraph-s;
}
.btn {
    display: flex;
    align-self: center; 
    align-items: center;
    background-color: transparent;
    border-radius: 15px;
    border: 2px solid rgb(29, 27, 27);
    padding-block: 15px;
    padding-inline: $padding-xs;
    margin: auto;
    transition: all .2s ease-in-out;
    font-size: $paragraph-m;
    font-weight: 700;
    text-align: center;
    color: black;

    img{
        margin-left: 5px;
    }
    
    &:hover{
        background-color: transparentize($color: #000000, $amount: 0.9);
    }
}

.text-center{
    text-align: center; 

    @media screen and (min-width: $breakpoint-xs) {
        padding-inline:2rem;
    } 
    
    @media screen and (min-width: $breakpoint-m) {
        padding-inline:10rem;
    }

    @media screen and (min-width: $breakpoint-l) {
        padding-inline:20rem;
    }
    
}
.on-top{
    position: sticky;
    top: 0;
}

