//font-sizes
$font-m: 20px;
$heading-s: 1.3rem;
$heading-m: 2.5rem;
$heading-l: 3rem;
$paragraph-m: 1.25rem;
$paragraph-s: 1rem;

//spacing
$padding-xs: 30px;
$padding-s: 50px;
$padding-m: 70px;



//breakpoints
$breakpoint-l: 1600px;
$breakpoint-m: 1000px;
$breakpoint-s: 760px;
$breakpoint-xs: 500px;