//font-sizes
$font-m: 20px;
$heading-s: 30px;
$heading-m: 50px;
$heading-l: 70px;
$paragraph-m: 20px;
$paragraph-s: 15px;

//spacing
$padding-xs: 30px;
$padding-s: 50px;
$padding-m: 70px;



//breakpoints
$breakpoint-l: 1600px;
$breakpoint-m: 1000px;
$breakpoint-s: 760px;
$breakpoint-xs: 500px;